<%= form_with url: sessions_path, local: true do |form| %>
  <p>
    <div>
      <%= form.label :email%>
    </div>
    <div>
      <%= form.email_field :email, id: :email_id %>
    </div>
  </p>
  <p>
    <div>
      <%= form.label :password%>
    </div>
    <div>
      <%= form.password_field :password, id: :password_id %>
    </div>
  </p>
  <%= form.submit %>
<% end %>
