<h1><%= raw t('.header', title: @test_passage.test.title) %></h1>
<p>
  <%= raw t('.question', question: @test_passage.current_question.body) %>
</p>
<p>
  <%= raw t('.count_questions', number: @test_passage.number_question, total: @test_passage.test.questions.count) %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form|%>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |c| %>
    <p>
      <%= c.check_box id: "answer_ids_#{c.object.id}" %>
      <%= c.label %>
    </p>
  <% end %>
  <%= form.submit t('.submit')%>
<% end %>

<p>
  | <%= link_to t('.back'), tests_path %> |
</p>
