<nav class="navbar navbar-expand-lg navbar-light bg-light <%= 'admin_panel' if current_user.present? && current_user.admin? %>">
  <%= link_to 'Хочу все знать!', root_path, class: 'navbar-brand' %>
  <% if current_user.present? && current_user.admin? %>
    <div class=" navbar-text mr-3" >
      <%=  link_to 'Admin Panel', admin_tests_path, class: 'btn btn-outline-light' %>
    </div>
    <div class=" navbar-text mr-3" >
      <%=  link_to 'Badge Panel', new_admin_badge_path, class: 'btn btn-outline-light' %>
    </div>
  <% end %>
  <% if current_user.present?%>
    <div class=" navbar-text mr-3" >
      <%=  link_to 'Own Badges', show_user_badge_path, class: 'btn btn-info' %>
    </div>
    <div class=" navbar-text mr-3" >
      <%=  link_to 'All Badges', show_all_badge_path, class: 'btn btn-warning' %>
    </div>
  <% end %>
  <div class=" navbar-text" >
    <%= render partial: 'shared/menu' %>
  </div>
</nav>
