<h1><%= t('.header') %></h1>
<h2><%= t('.for_question', question: @answer.question.body) %></h2>
<%= render partial: 'shared/errors', locals: { resources: @answer } %>
<%= render 'form' %>
<%= link_to t('.show'), admin_answer_path(@answer) %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
