<div class="row justify-content-center pt-3">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card">
      <h1 class="card-header"><%= t('.header') %></h1>
      <div class="card-body">
      <h2 class="card-title"><%= t('.for_question', question: @question.body) %></h2>
      <%= render partial: 'shared/errors', locals: { resources: @answer } %>
      <%= render 'form' %>
      </div>
    </div>
      <p class="pt-3">
        <%= link_to t('.back'), admin_question_path(@question), class: "btn btn-outline-secondary" %>
      </p>
  </div>
</div>
