<h1><%= t('.header', question: @answer.question.body) %></h1>

<p>
  <strong><%= t('.answer') %>: </strong><%= @answer.body %>
</p>
<p>
  <strong><%= t('.correct') %>: </strong><%= @answer.correct %>
</p>

<%= link_to t('.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
