<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8 table-responsive">
    <h1 class="pt-3 pb-3 heading"><%= t('.header', question: @answer.question.body) %></h1>
    <p>
      <strong><%= t('.answer') %>: </strong><span class="text-primary"><%= @answer.body %></span>
    </p>
    <p>
      <strong><%= t('.correct') %>: </strong><span class="text-primary"><%= @answer.correct %></span>
    </p>

    <p>
      <%= button_to t('.back'), admin_question_path(@answer.question), method: :get, class: 'btn btn-secondary btn-down' %>
    </p>
  </div>
</div>
