<h1><%= t('.header', title: @question.body) %></h1>
<table>
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.question') %></th>
    <th><%= t('.from_test') %></th>
    <th><%= t('.level') %></th>
  </tr>
  <tr>
    <td> <%= @question.id %> </td>
    <td> <%= @question.body %> </td>
    <td> <%= @question.test.title %> </td>
    <td> <%= @question.test.level %> </td>
  </tr>
</table>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  | <%= link_to t('.edit'), edit_admin_question_path(@question) %> |
  | <%= link_to t('.create_new_answer'), new_admin_question_answer_path(@question) %> |
  | <%= link_to t('.back'), admin_test_path(@question.test) %> |
  | <%= link_to t('.all_tests'), admin_tests_path %> |
</p>
