<%= form_with(model: [:admin, @test], local: true) do |f| %>
  <p class="form-group">
    <%= f.label(:title) %>
    <%= f.text_field(:title, class: 'form-control') %>
  </p>
  <p class="form-group">
    <%= f.label(:level) %>
    <%= f.number_field(:level, class: 'form-control') %>
  </p>
  <p class="form-group">
    <%= f.label(:category_id) %>
    <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: t('helpers.select.admin.test.hint')) %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary btn-block' %>
  </p>
<% end %>
