<tr>
  <td><%= test.id %></td>
  <td>
    <%= content_tag :span, test.title, class: 'test__title', data: {test_id: "#{test.id}"} %>
    <%= render 'admin/tests/form_inline', test: current_test(test, @test) %>
  </td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to t('.show'), admin_test_path(test) %></td>
  <td>
    <%= link_to t('.edit'), edit_admin_test_path(test),
                        data: {test_id: "#{test.id}"},
                        class: 'test__edit'%>
  </td>
  <td><%= link_to t('.delete'), admin_test_path(test), method: :delete, data: {confirm: t('.are_you_sure')} %></td>
</tr>
