<tr>
  <td scope="row"><%= test.id %></td>
  <td scope="row"><%= test.title %></td>
  <td scope="row"><%= test.level %></td>
  <td scope="row"><%= test.category.title %></td>
  <td scope="row"><%= test.questions.count %></td>
  <td scope="row"><%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
