<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8 table-responsive">
    <h1 class="pt-3 pb-3 heading"><%= t('.header') %></h1>
    <table class="table table-striped table-borderless table-hover ">
      <tr class="thead-dark">
        <th scope="col"><%= t('.id') %></th>
        <th scope="col" class="head_control">
          <%= t('.title') %>
          <%= octicon "arrow-small-up", :height => 20,  class: "head_arrow hide" %>
          <%= octicon "arrow-small-down", :height => 20,  class: "head_arrow hide" %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"><%= t('.count_questions') %></th>
        <th scope="col"><%= t('.action') %></th>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</div>

