<h1>Test <%= @test.title %></h1>
<p>Это тест уровня <%= @test.level %></p>
<table>
  <tr>
    <th>ID</th>
    <th>Сам вопрос</th>
    <th>Из теста</th>
    <th>Сложность</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @test.questions %>
</table>
<p>
  | <%= link_to "Delete", question_path(@test), method: :delete,
                data: {confirm: "Are you sure?\nПодтверждение на удаление #{@test.title}"} %> |
  | <%= link_to 'Все тесты', tests_path %> |
  | <%= link_to 'Создать вопрос', new_test_question_path(@test) %> |
</p>
