<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<% if flash.present? %>
  <div class="flash">
    <%= flash_message(flash) %>
  </div>
<% end %>
<div class="header admin">
  <div class="logo"><%= link_to 'Хочу все знать!', '/' %></div>
  <div class="head-admin">Admin Panel</div>
  <div class="registration_menu">
    <%= render 'shared/menu' %>
  </div>
</div>

<body>
<%= yield %>
<footer>
  <hr>
  <div>
    <%= year %>
  </div>
  <div>
    Egor Tikhanin
  </div>
  <div>
    <%= link_to 'TestGuru', github_url('windyeti', 'test_guru'), target: "_blank" %>
  </div>
  <div>Текст описания проекта</div>
  <div>
    <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com", target: "_blank" %>
  </div>
</footer>
</body>
</html>
