<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <footer>
    <hr>
    <div>
      <%= year %>
    </div>
    <div>
      Egor Tikhanin
    </div>
    <div>
      <%= link_to 'TestGuru', github_url('windyeti', 'test_guru') %>
    </div>
    <div>Текст описания проекта</div>
    <div>
      <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com" %>
    </div>
  </footer>
  </body>
</html>
