<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if flash.present? %>
    <div class="flash">
      <%= flash_message(flash) %>
    </div>
  <% end %>
  <div class="header">
    <div class="logo"><%= link_to 'Хочу все знать!', '/' %></div>
    <div class="registration_menu">
      <% if logged? %>
        <p class="welcome">
          Welcome, <%= @current_user.email %> Guru
        </p>
        <p>
          | <%= link_to 'Log Out', logout_path, method: :delete %> |
        </p>
      <% else %>
        <p>
          | <%= link_to 'Sign Up', signup_path %> | <%= link_to 'Log In', login_path %> |
        </p>
      <% end %>
    </div>
  </div>

  <body>
    <%= yield %>
  <footer>
    <hr>
    <div>
      <%= year %>
    </div>
    <div>
      Egor Tikhanin
    </div>
    <div>
      <%= link_to 'TestGuru', github_url('windyeti', 'test_guru'), target: "_blank" %>
    </div>
    <div>Текст описания проекта</div>
    <div>
      <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com", target: "_blank" %>
    </div>
  </footer>
  </body>
</html>
